body {
    margin: 0;
    padding: 0;

}

header {
    background-color: black;


}

.navbar-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}
.nav-links{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
ul li a{
   text-align: center;
}